In [328]:
import pandas as pd
import numpy as np

df = pd.read_excel('imoveis_vivareal_tratado.xlsx')
df

,metragem,quartos,banheiros,vagas,valor,iptu,condominio,nome_rua
0,52,2.0,1.0,2.0,270000,85.0,380.0,Rua Ítalo Bordini
1,604,4.0,7.0,3.0,11800000,873.0,1659.0,Alameda Mamoré
2,60,2.0,2.0,1.0,395000,130.0,120.0,Rua Marília
3,69,2.0,1.0,1.0,450000,NaN,NaN,NaN
4,75,NaN,1.0,2.0,350000,NaN,NaN,Avenida Valentim Magalhães
...,...,...,...,...,...,...,...,...
95,58,2.0,1.0,1.0,180000,NaN,234.0,Rua Gladstone de Abreu Cardoso
96,139,3.0,3.0,NaN,305000,NaN,NaN,Rua Jussara
97,62,3.0,2.0,2.0,295000,57.0,560.0,Rua Professora Edina Rocha de Freitas
98,250,NaN,NaN,NaN,160000,NaN,NaN,Rua Gilda Willemsens Conceição
99,90,3.0,2.0,2.0,540000,NaN,NaN,Rua Araci

In [329]:
#a. Qual é a média do tamanho dos imóveis (metros)? R: 136.23 m²
df['metragem'].mean()

np.float64(136.23)

In [330]:
#b. Qual a média do número de quartos, banheiros e vagas? R: 2.4 quartos, 2.1 banheiros e 2.1 vagas
for comodo in ['quartos', 'banheiros', 'vagas']:
    print(f'Média de {comodo}: {df[comodo].mean():.1f} {comodo}')

Média de quartos: 2.4 quartos
Média de banheiros: 2.1 banheiros
Média de vagas: 2.1 vagas

In [331]:
#c. Qual é o valor médio do IPTU e do condomínio? R: condominio: R$ 23.594,30 / IPTU: R$ 194,90
for ip in ['condominio', 'iptu']:
    print(f'media do {ip}: {df[ip].mean():.1f}')

media do condominio: 23594.3
media do iptu: 194.9

In [332]:
#d. Existe alguma correlação entre o valor do imóvel e o tamanho em metros quadrados? Sim, existe uma boa correlação
df[['valor', 'metragem']].corr()

             valor  metragem
valor     1.000000  0.673175
metragem  0.673175  1.000000

In [333]:
#e. Imóveis maiores têm um IPTU mais alto? R: Sim, tendem a ser um pouco mais alto
df[['metragem', 'iptu']].corr()

          metragem      iptu
metragem  1.000000  0.202071
iptu      0.202071  1.000000

In [334]:
#f. A quantidade de vagas de garagem está relacionada ao preço do imóvel? R: Sim, há uma forte correlação
df[['vagas', 'valor']].corr()

         vagas    valor
vagas  1.00000  0.90537
valor  0.90537  1.00000

In [335]:
# 1. Usando o desvio padrão
# g. Existem imóveis com valores de metros ou preço muito acima ou abaixo da média? R: Há 3 metragens e 4 preços fora da média

limite_superior_metragem = df['metragem'].mean() + 2 * df['metragem'].std()
limite_inferior_metragem = df['metragem'].mean() - 2 * df['metragem'].std()

limite_superior_valor = df['valor'].mean() + 2 * df['valor'].std()
limite_inferior_valor = df['valor'].mean() - 2 * df['valor'].std()

imoveis_metragem_outlier = df[(df['metragem'] > limite_superior_metragem) | (df['metragem'] < limite_inferior_metragem)]
imoveis_valor_outlier = df[(df['valor'] > limite_superior_valor) | (df['valor'] < limite_inferior_valor)]

print(f"\nNúmero de imóveis com metragem fora da média: {len(imoveis_metragem_outlier)}")
print(f"Número de imóveis com valor fora da média: {len(imoveis_valor_outlier)}")

Número de imóveis com metragem fora da média: 3
Número de imóveis com valor fora da média: 2

In [336]:
# 2. Usando o intervalo interquartil
# g. Existem imóveis com valores de metros ou preço muito acima ou abaixo da média? R: Há 6 metragens e 8 preços fora da média

Q1_metragem = df['metragem'].quantile(0.25)
Q3_metragem = df['metragem'].quantile(0.75)
IQR_metragem = Q3_metragem - Q1_metragem

limite_inferior_metragem = Q1_metragem - 1.5 * IQR_metragem
limite_superior_metragem = Q3_metragem + 1.5 * IQR_metragem

outliers_metragem = df[(df['metragem'] < limite_inferior_metragem) | (df['metragem'] > limite_superior_metragem)]


Q1_valor = df['valor'].quantile(0.25)
Q3_valor = df['valor'].quantile(0.75)
IQR_valor = Q3_valor - Q1_valor

limite_inferior_valor = Q1_valor - 1.5 * IQR_valor
limite_superior_valor = Q3_valor + 1.5 * IQR_valor

outliers_valor = df[(df['valor'] < limite_inferior_valor) | (df['valor'] > limite_superior_valor)]


print(f"Número de imóveis com metragem fora da média: {len(outliers_metragem)}")
print(f"Número de imóveis com valor fora da média: {len(outliers_valor)}")

Número de imóveis com metragem fora da média: 6
Número de imóveis com valor fora da média: 8